name: word_master
description: Pro-level adaptive English vocabulary quiz app.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  audioplayers: ^6.0.0
  cached_network_image: ^3.3.1
  google_mobile_ads: ^5.1.0
  uuid: ^4.5.1
  flutter_tts: ^4.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
